/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* :root {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --shadow-color: #db00ff;
  --main-font: "IBM Plex mono";
  --background-image: url(../images/cover-image-dark.png);
} */

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --bg-color: #ff0070;
  --font-text-color: #f1b2ce;
  --text-color: #ff0070;
  --font-title-color: #000028;
  --font-paragraph-color: #000028;
  --header-rec: "REC";
  --display-rec: block;
  --shadow-color: #db00ff;
  --accent-color: #ff0070;
  --button-color-shadow: rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --bg-color: #ff0070;
    --font-text-color: #f1b2ce;
    --text-color: #ff0070;
    --font-title-color: #000028;
    --font-paragraph-color: #000028;
    --header-rec: "REC";
    --display-rec: block;
    --shadow-color: #db00ff;
    --accent-color: #ff0070;
    --button-color-shadow: rgba(255, 0, 112, 0.4);
  }
}
