/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --shadow-color: #db00ff;
  --main-font: "IBM Plex mono";
  --background-image: url(../images/cover-image-dark.png);
  --font-size: 18px;
  --bg-color: #000028;
  --font-text-color: #F1B2CE;
}
